* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

body {
  width:100%;
  min-height: 100vh;
  height:100%;
  background-color: #131415;
}